.select__filter {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    color: #313131;
    padding: 1em 1.2em;
    margin: 0 0 1em 1em;
    width: 200px;
    border: none;
    border-radius: 1em;
}

.select__filter:focus-visible {
    outline: none;
}